<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.0/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true">

    <testsuites>
        <testsuite name="Socialist">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <html outputDirectory="./doc/coverage" lowUpperBound="50" highLowerBound="90"/>
        </report>
    </coverage>


</phpunit>
